# This file lists the dependencies that must be installed to run the Flask application (the backend of the project). To install these dependencies,
# run the following command in your terminal: pip install -r requirements.txt

Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
PyMySQL==1.1.2
python-dotenv==1.2.1
